<div class="footer">

  <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

<!-- Footer Links -->
<div class="container text-center text-md-left">

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class=" kf col-md-4 mx-auto">

    <!-- Content -->
    <h1 class="rs mt-3 " style="cursor: pointer;" routerLink="/home">jobeva</h1>
    <h4>Employers and Recruiters, go to our.</h4>
    <a routerLink="/#">RECRUITMENT SERVICES.</a>
    <br>
    <h4>Members Directory:</h4>
    <br>
    <a routerLink="/#!">A </a>
    <a routerLink="/#!">B </a>
    <a routerLink="/#!">C </a>
    <a routerLink="/#!">D </a>
    <a routerLink="/#!">E </a>
    <a routerLink="/#!">F </a>
    <a routerLink="/#!">G </a>
    <a routerLink="/#!">H </a>
    <a routerLink="/#!">I </a>
    <a routerLink="/#!">J </a>
    <a routerLink="/#!">K </a>
    <a routerLink="/#!">L </a>
    <a routerLink="/#!">M </a>
    <a routerLink="/#!">N </a>
    <a routerLink="/#!">O </a>
    <a routerLink="/#!">P </a>
    <a routerLink="/#!">Q </a>
    <a routerLink="/#!">R </a>
    <a routerLink="/#!">S </a>
    <a routerLink="/#!">T </a>
    <a routerLink="/#!">U </a>
    <a routerLink="/#!">V </a>
    <a routerLink="/#!">W </a>
    <a routerLink="/#!">X </a>
    <a routerLink="/#!">Y </a>
    <a routerLink="/#!">Z </a>
    <a routerLink="/#!">/# </a>
  </div>
  <!-- Grid column -->

  <hr class="clearfix w-100 d-md-none">

  <!-- Grid column -->
  <div class="col-md-2 mx-auto">

    <!-- Links -->
    <h2 class="  mt-3 ">LINKS</h2>

    <ul class="list-unstyled">
      <li>
        <a routerLink="/#!">Career Resources</a>
      </li>
      <li>
        <a routerLink="/#!"><span class="oi">jobeva </span>Coaches</a>
      </li>
      <li>
        <a routerLink="/#!">About Us</a>
      </li>
      <li>
        <a routerLink="/#!">Recruitment Service</a>
      </li>
      <li>
        <a routerLink="/#!">RSS</a>
      </li>
    </ul>

  </div>
  <!-- Grid column -->

  <hr class="clearfix w-100 d-md-none">

  <!-- Grid column -->
  <div class="col-md-2 mx-auto">

    <!-- Links -->
    <h2 class=" mt-3 ">LINKS</h2>

    <ul class="list-unstyled">
      <li>
        <a routerLink="/#!">Partners</a>
      </li>
      <li>
        <a routerLink="/#!">Sitemap</a>
      </li>
      <li>
        <a routerLink="/#!">Contact Us</a>
      </li>
      <li>
        <a routerLink="/#!">Privacy, Cookies, Terms &Conditions</a>
      </li>
    </ul>

  </div>
  <!-- Grid column -->

  <hr class="clearfix w-100 d-md-none">

  <!-- Grid column -->
  <div class="col-md-2 mx-auto">

    <!-- Links -->
    <h2 class=" mt-3 ">FOLLOW US</h2>

    <ul class="list-unstyled">
      <li>
        <a routerLink="/#!"><i class="da fab fa-facebook-f "></i></a>
      </li>
      <li>
        <a routerLink="/#!"><i class="tw fab fa-twitter"></i></a>
      </li>
      <li>
        <a routerLink="/#!"><i class="yo fab fa-youtube"></i></a>
      </li>
      <li>
        <a routerLink="/#!"><i class="yo fab fa-instagram"></i></a>
      </li>
      <li>
        <a routerLink="/#!"><i class="li fab fa-linkedin-in "></i></a>
      </li>
    </ul>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

</div>
<!-- Footer Links -->

<hr>

<!-- Call to action -->
<ul class="list-unstyled list-inline text-center d-flex align-items-center justify-content-center">
<li class="list-inline-item">
  <h1 class="mb-1">Register for free</h1>
</li>
<li class="list-inline-item">
  <a routerLink="/register" class="btn btn-danger btn-rounded">Sign up!</a>
</li>
</ul>

<!-- Call to action -->

<hr>

<!-- Social buttons -->
<ul class="list-unstyled list-inline text-center">
<li class="list-inline-item">
  <a class="vv btn btn-primary" style="background-color: #3b5998;" routerLink="/#!" role="button"
><i class="fab fa-facebook-f"></i
></a>
</li>
<li class="list-inline-item">
  <a class="vv btn btn-primary" style="background-color: #55acee;" routerLink="/#!" role="button"
><i class="fab fa-twitter"></i
></a>
</li>
<li class="list-inline-item">
  <a class="vv btn btn-primary" style="background-color: #ed302f;" routerLink="/#!" role="button"
><i class="fab fa-youtube"></i
></a>
</li>

<li class="list-inline-item">
  <a class="vv btn btn-primary" style="background-color: #e71d82;" routerLink="/#!" role="button"
><i class="fab fa-instagram"></i
></a>
</li>
<li class="list-inline-item">
  <a class="vv btn btn-primary" style="background-color: #0082ca;" routerLink="/#!" role="button"
><i class="fab fa-linkedin-in"></i
></a>
</li>
<li class="list-inline-item">
  <a class="vv btn btn-primary" style="background-color: #25d366;" routerLink="/#!" role="button"
  ><i class="fab fa-whatsapp"></i
></a>
</li>
</ul>
<!-- Social buttons -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2021 Copyright:
<a routerLink="https://jobeva.com/"> jobeva.com</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
</div>

