<div class="profile-superAdmin">
    <div class="cover " >
        <h1 data-aos="zoom-in">Super Admin</h1>
            <div class="img-profile" data-aos="zoom-out-down">
                <input type="file" id="file" (change)="edit($event)" data-aos="slide-right">
                <img [src]="url" alt="">
                <h3 class="my-2">{{name}}</h3>
            </div>
    </div>
    <!-- <app-admin-list></app-admin-list>
    <br>
    <app-company-list></app-company-list>
    <br>
    <app-user-list></app-user-list> -->
</div>
