<div class="b">
  <div class="kl ">
    <div class="gl container">
      <h1>Top Companies Hiring Now</h1>
      <br>
      <h4>See company overviews, available jobs, compensation figures, expert employees and more.</h4>
      <br>
      <h3>FIND A COMPANY</h3>
      <form class=" fg d-flex input-group ">
        <input type="search" class=" mn form-control" placeholder="Type Name a Company.." aria-label="Search" />
      </form>
    </div>
  </div>
  <div class="oop py-5">
    <!--   box1  -->
    <div class="ddu container">
      <div class="ssh mt-1 d-flex">
        <i class="lo fas fa-fighter-jet"></i>
        <h2 class="iio">Aerospace & Defense</h2>
      </div>
      <br>
      <div class=" d-flex container">
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/lm1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Lockheed Martin</h3>
              <p class="card-text">
                <span>545 Jobs</span><br>191 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/bo.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Boeing</h3>
              <p class="card-text">
                <span>477 Jobs</span><br>231 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/lh4.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">L3Harris</h3>
              <p class="card-text">
                <span>500 Jobs</span><br>61 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/ng7.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Northrop Grumman</h3>
              <p class="card-text">
                <span>717 Jobs</span><br>185 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/dr.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Dassault Rafale</h3>
              <p class="card-text">
                <span>498 Jobs</span><br>75 Experts
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <a href="#!">
        <h2 class="al">View More Aerospace & Defense Companies <i class="fas fa-arrow-right"></i></h2>
      </a>
    </div>
    <!--   box1  -->

    <!--   box2  -->

    <div class="ddp container">
      <div class="ssh mt-1 d-flex">
        <i class="lo fas fa-mobile-alt"></i>
        <h2 class="iio">Consumer Technology</h2>
      </div>
      <br>
      <div class=" d-flex container">
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/ama8.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Amazon</h3>
              <p class="card-text">
                <span>848 Jobs</span><br>593 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/apple_ar.webp" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Apple</h3>
              <p class="card-text">
                <span>498 Jobs</span><br>152 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/google.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Google</h3>
              <p class="card-text">
                <span>478 Jobs</span><br>753 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/li.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">LinkedIn</h3>
              <p class="card-text">
                <span>437 Jobs</span><br>38 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/tt4.jpg
                " class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Tik Tok</h3>
              <p class="card-text">
                <span>458 Jobs</span><br>73 Experts
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <a href="#!">
        <h2 class="al">View More Consumer Technology Companies <i class="fas fa-arrow-right"></i></h2>
      </a>
    </div>

    <!--   box2  -->

    <!--   box3  -->
    <div class="ddp container">
      <div class="ssh mt-1 d-flex">
        <i class="lo fas fa-hamburger"></i>
        <h2 class="iio">Food & Beverages</h2>
      </div>
      <br>
      <div class=" d-flex container">
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/ps4.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">PepsiCo</h3>
              <p class="card-text">
                <span>149 Jobs</span><br>96 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/ns1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Nestle</h3>
              <p class="card-text">
                <span>106 Jobs</span><br>58 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/cc4.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Coca Cola</h3>
              <p class="card-text">
                <span>97 Jobs</span><br>10 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/md2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">McDonalds</h3>
              <p class="card-text">
                <span>498 Jobs</span><br>75 Experts
              </p>
            </div>
          </div>
        </div>
        <div class="ytc d-flex">
          <div class="card ">
            <img src="../../../assets/images/ov.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Organic Valley</h3>
              <p class="card-text">
                <span>48 Jobs</span><br>35 Experts
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <a href="#!">
        <h2 class="al">View More Food & Beverages Companies <i class="fas fa-arrow-right"></i></h2>
      </a>
    </div>
  </div>
</div>